* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #1E1E1E;
    position: relative;
}

.container {
    position: absolute;
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container .car {
    height: 700px;
    width: 800px;
    z-index: 8888888;
}
.container .car:hover img{
    transform: scale(1.05);
    
}

.container .car img {
    height: 100%;
    width: 100%;
    width: 880px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.container .log_in_form {
    background: linear-gradient(90deg, #111111 0%, #3C3C3C 70%, #707070 100%);
    height: 500px;
    width: 400px;
    border-radius: 5px;
    box-shadow: rgba(188, 187, 187, 0.45) 0px 25px 20px -15px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 10px;
}

.container .h1 {
    font-size: 41px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.container .log_in_form form {
    display: flex;
    flex-direction: column;

}

.container .log_in_form form input {
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    margin-top: 10px;
}

.container .log_in_form form .btn {
    color: rgb(0, 0, 0);
    background-color: #c1c1c1;
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4);
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease;
    z-index: 0;
}

.btn:hover::before {
    left: 0;
}
.btn:hover span {
color: #ffffff;
}
.btn span {
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
}
.container .log_in_form form .btn:active {
    transform: scale(0.95);
}

.container p{
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
}
.container a{
    font-size: x-large;
    color: #ffffff;
    margin-left: 5px;
}


@media (max-width: 1200px) {
    .container .car {
    display: none;
    }
    .log_in_form {
        width: auto;
        height: auto;
        padding: 20px;
    }
    .input {
        width: 250px;
    }
}